.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
  height: 100vh;
  margin: auto;
  background: #F7CB15;
}

.about {
  display: flex;
  width: 35vw;
  /* border: 1px #241C15 solid; */
  
  justify-content: center;
  text-align: center;
  height: 65vh;
  color: #241C15;
}

.about-text{
  display: flex;
  flex-direction: column;
  
  
}

.about-buttons{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}