.navlinks > .active{
  border-bottom: black 1px solid;
  
  color: white;
}

.Navbar {
  color: white;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: space-around;
  align-items: center;
  /* background: #F7CB15; */
  
  font-size: 2em;
  z-index: 504
}

.navlinks {
  /* margin-right: 25px; */
  /* margin-top: 19px; */
  cursor: pointer;
  
}

.links {
  
  margin: 10px;
  
}

.links:hover {
  color: #DB504A;
}